.cursor_pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}

.threeline {
  width: 30px;
  z-index: 12415;
  position: inherit;
}

.threelinechild {
  overflow: hidden;
  width: 100%;
  height: 0.2px;
  margin: 4px;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.w_250 {
  width: 250px;
}
.falseline1 {
  width: 100%;
  height: 2px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  transform: rotate(45deg) translate(6%, 15%);
}

.falseline3 {
  width: 100%;
  height: 2px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  transform: rotate(-45deg) translate(0, 0);
}

.shownav {
  position: fixed;
  width: 100%;
  height: 100vh !important;
  background: #121b2859 !important;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  left: 0 !important;
  top: 0;
  z-index: 999 !important;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
}

.hidenav {
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  background: #121b2859 !important;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  left: -100%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 999 !important;
}
#header nav {
  background: rgba(255, 255, 255, 0.06);
}

.nav_bg_gradient {
  background: #121b28;
}
#lights .slick-dots {
  position: absolute;
  bottom: -48px;
  display: block;
  width: 100%;
  padding: 0 0 0 16px !important;
  margin: 0;
  list-style: none;
  text-align: start !important;
}
#lights .slick-dots li.slick-active button:before {
  opacity: 0.5 !important;
  background-color: var(--clr-bg-black) !important;
}
#lights .slick-dots li button:before {
  line-height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 14px !important;
  height: 14px !important;
  content: "";
  text-align: start !important;
  opacity: 0.1 !important;
  background-color: var(--clr-bg-black);
}
#footer {
  background: rgba(11, 10, 10, 0.08);
}
#footer a:hover svg path {
  fill: #0085ff;
}
.Img_width_Light_Custom {
  width: 100%;
}
.hover_effact_link {
  position: relative;
}
.hover_effact_link::before {
  content: "";
  right: 0;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--clr-dark-blue);
  transition: all 300ms ease-in-out;
  position: absolute;
}
.hover_effact_link:hover::before {
  width: 100%;
}
.min_h_wedose_custom {
  min-height: 450px;
}
.layer__BottomRIght {
  background: #030c1a;
  filter: blur(19.5px);
  right: 0;
  bottom: -50%;
  height: 100px;
  z-index: 12345;
}
.Pos_FLower_Unique {
  left: -50%;
  top: -20%;
  width: 300px;
  animation: FlowerPos1 10s ease-in-out 0s infinite alternate-reverse;
}
.Pos_FLower_Unique2 {
  right: -50%;
  bottom: -20%;
  width: 300px;
  animation: FlowerPos2 10s ease-in-out 0s infinite alternate-reverse;
}
@keyframes FlowerPos2 {
  0% {
    transform: rotate(0);
    bottom: -20%;
  }
  100% {
    transform: rotate(360deg);
    bottom: 20%;
  }
}
@keyframes FlowerPos1 {
  0% {
    transform: rotate(0);
    top: -20%;
  }
  100% {
    transform: rotate(360deg);
    top: 20%;
  }
}
.Shinewave_img__BLockCahin {
  height: 300px;
  top: 0;
  left: 0;
  animation: Shinewave_img__BLockCahin 8s ease-in-out 0s infinite
    alternate-reverse;
}
@keyframes Shinewave_img__BLockCahin {
  0% {
    top: -20%;
    left: -30%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@media (min-width: 575.9px) {
  .Pos_FLower_Unique {
    width: 400px;
    left: -30%;
  }
  .Shinewave_img__BLockCahin {
    height: 400px;
  }
  .Pos_FLower_Unique2 {
    width: 400px;
    right: -30%;
  }
  .min_h_wedose_custom {
    min-height: 600px;
  }
  .Img_width_Light_Custom {
    width: 75%;
  }
}
.hero_gif_position {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}
.hero_layer {
  background: #79a4e3;
  z-index: 1;
  mix-blend-mode: overlay;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
}
.hero_gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 60%;
  background: linear-gradient(
    270deg,
    #020b1a 50.06%,
    rgba(2, 11, 26, 0) 97.25%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.hero_upper_layer {
  width: 70%;
  background: #030c1a;
  filter: blur(19.5px);
  position: absolute;
  top: 0;
  height: 75px;
  z-index: 2;
  right: 0;
}
.hero_circle_layer {
  width: 190px;
  height: 109px;
  background: #030c1a;
  filter: blur(20.5px);
  position: absolute;
  top: 40px;
  z-index: 2;
  right: 58%;
  border-radius: 100%;
}
.opacity_07 {
  opacity: 0.7;
}
.assistent_cards img {
  transition: linear 250ms;
}
.assistent_cards:hover img {
  scale: 1.1;
}
@media (min-width: 768.1px) {
  .min_h_wedose_custom {
    min-height: 708px;
  }
  .hero_gif_position {
    width: 75%;
  }
}
@media (min-width: 991.9px) {
  .Pos_FLower_Unique {
    left: -18%;
    width: 500px;
  }
  .Shinewave_img__BLockCahin {
    height: 599px;
  }
  .Pos_FLower_Unique2 {
    right: -18%;
    width: 500px;
  }
}
@media (min-width: 1199.9px) {
  .Img_width_Light_Custom {
    width: 100%;
  }
  .min_vh_100 {
    min-height: 100vh;
  }
  .container {
    width: 1140px;
  }
}
