* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
:root {
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-xl: 20px;
  --fs-2x4l: 24px;
  --fs-2x8l: 28px;
  --fs-4xl: 40px;
  --fs-4x4l: 44px;
  --fs-5x2l: 52px;
  /*  */
  --clr-light-white: #fcfcfc;
  --clr-dark-black: #0b0a0a;
  --clr-dark-blue: #1c2ac9;
  --clr-Light-pink: #fff7f7;
  --clr-Light-yellow: #fffdea;
  --clr-Light-grey: #bfbfbf;
  --clr-bg-black: #050505;
  --clr-light-sky: #edffff;
  --clr-bg-yellow: #ffe4c7;
  /*  */
  --fw-med: 500;
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2x4l {
  font-size: var(--fs-2x4l);
}
.fs_2x8l {
  font-size: var(--fs-2x8l);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_4x4l {
  font-size: var(--fs-4x4l);
}
.fs_5x2l {
  font-size: var(--fs-5x2l);
}
.fw-med {
  font-weight: var(--fw-med);
}
/* color */
.text_light_white {
  color: var(--clr-light-white);
}
.text_dark_black {
  color: var(--clr-ldark-black);
}
.text_dark_blue {
  color: var(--clr-dark-blue);
}
.text_light_pink {
  color: var(--clr-Light-pink);
}
.text_light_yellow {
  color: var(--clr-Light-yellow);
}
.text_light_gray {
  color: var(--clr-Light-grey);
}
.bg_black {
  color: var(--clr-bg-black);
}
.bg_sky {
  color: var(--clr-light-sky);
}
.bg_yellow {
  color: var(--clr-bg-yellow);
}

.btn_main {
  padding: 18px 32px;
  border-radius: 50px;
  background: linear-gradient(
    97.08deg,
    #002eff 0%,
    #0085ff 49.24%,
    #000aff 95.5%
  );
  color: #ffffff;
  border: 0.4px solid #ffffff;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-weight: 400;
  font-size: var(--fs-md);
}
