* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Futura Bk BT";
  src: url(./assets/font/futura_bk_bt/Futura_20Medium_20BT.ttf);
}
.ff_inter {
  font-family: "Inter", sans-serif !important;
}
.ff_futura {
  font-family: "Futura Bk BT";
}
:root {
  --fs-sm: 14px;
  --fs-md: 14px;
  --fs-xl: 20px;
  --fs-2x4l: 20px;
  --fs-2x8l: 24px;
  --fs-4xl: 20px;
  --fs-4x4l: 34px;
  --fs-5x2l: 29px;
  /*  */
  --clr-light-white: #fcfcfc;
  --clr-dark-black: #0b0a0a;
  --clr-dark-black-Acc: #0b0a0ada;
  --bg_hover: #0b0a0a0a;
  --clr-dark-blue: #1c2ac9;
  --clr-Light-pink: #fff7f7;
  --clr-Light-yellow: #fffdea;
  --clr-Light-grey: #bfbfbf;
  --clr-bg-black: #050505;
  --clr-light-Green: #edffef;
  --clr-bg-yellow: #ffe4c7;
  --clr-bg-lightblue: #f5f6ff;
  /*  */
  --fw-med: 500;
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2x4l {
  font-size: var(--fs-2x4l);
}
.fs_2x8l {
  font-size: var(--fs-2x8l);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_4x4l {
  font-size: var(--fs-4x4l);
}
.fs_5x2l {
  font-size: var(--fs-5x2l);
}
.fw-med {
  font-weight: var(--fw-med);
}
/* color */
.text_light_white {
  color: var(--clr-light-white);
}
.text_dark_black {
  color: var(--clr-ldark-black);
}
.text_dark_blue {
  color: var(--clr-dark-blue);
}
.bg_blue {
  background-color: var(--clr-dark-blue);
}

.bg_light_yellow {
  background-color: var(--clr-Light-yellow);
}
.text_light_gray {
  color: var(--clr-Light-grey);
}
.bg_black {
  background-color: var(--clr-bg-black);
}
.bg_Green {
  background-color: var(--clr-light-Green);
}
.bg_pink {
  background-color: var(--clr-Light-pink);
}
.bg_yellow {
  background-color: var(--clr-bg-yellow);
}
.bg_light_blue {
  background-color: var(--clr-bg-lightblue);
}

.btn_main {
  padding: 18px 32px;
  border-radius: 50px;
  background: linear-gradient(
    97.08deg,
    #002eff 0%,
    #0085ff 49.24%,
    #000aff 95.5%
  );
  color: #ffffff;
  border: 0.4px solid #ffffff;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-weight: 400;
  font-size: var(--fs-md);
  font-family: "Futura Bk BT";
  transition: all 300ms ease-in-out;
}
.btn_main:hover {
  transform: scale(1.08);
  animation: Btn_MainBg 3s ease-in-out 0s infinite alternate;
}
@keyframes Btn_MainBg {
  0% {
    background: linear-gradient(
      97.08deg,
      #002eff 0%,
      #0085ff 49.24%,
      #000aff 95.5%
    );
  }
  20% {
    background: linear-gradient(
      180.08deg,
      #002eff 0%,
      #0085ff 49.24%,
      #000aff 95.5%
    );
  }
  50% {
    background: linear-gradient(
      230.08deg,
      #002eff 0%,
      #0085ff 49.24%,
      #000aff 95.5%
    );
  }
  70% {
    background: linear-gradient(
      360.08deg,
      #002eff 0%,
      #0085ff 49.24%,
      #000aff 95.5%
    );
  }
  100% {
    background: linear-gradient(
      90.08deg,
      #002eff 0%,
      #0085ff 49.24%,
      #000aff 95.5%
    );
  }
}
.op01 {
  opacity: 0.1;
}
.op05 {
  opacity: 0.5;
}
.op07 {
  opacity: 0.7;
}
.heading_common {
  font-family: "Futura Bk BT";
  font-weight: 400;
  font-size: var(--fs-4x4l);
  /* line-height: 150%; */
  text-transform: capitalize;
}
.peragraph_common {
  font-family: "Futura Bk BT";
  font-weight: 400;
  font-size: var(--fs-md);
  line-height: 160%;
  opacity: 0.7 !important;
}

.transition200 {
  transition: all 200ms ease-in-out;
}
.transition250 {
  transition: all 250ms ease-in-out;
}
.transition300 {
  transition: all 300ms ease-in-out;
}
.transition350 {
  transition: all 350ms ease-in-out;
}
.z_index-1 {
  z-index: -1;
}
.z_index1 {
  z-index: 1;
}
.z_index2 {
  z-index: 2;
}
.z_index3 {
  z-index: 3;
}
.z_index4 {
  z-index: 4;
}
.z_index5 {
  z-index: 5;
}
.z_index6 {
  z-index: 6;
}
.z_index7 {
  z-index: 7;
}
.z_index8 {
  z-index: 8;
}
.z_index9 {
  z-index: 9;
}
.z_index10 {
  z-index: 10;
}
.cursor_pointer {
  cursor: pointer;
}
.scrollBar-none::-webkit-scrollbar {
  display: none;
}
/*  */
.hover_box .content_box:hover {
  background-color: var(--bg_hover);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.hover_box .content_box:hover span.svg svg path,
.hover_box .content_box:hover span.svg svg circle {
  fill: rgba(124, 124, 124, 0.909);
  stroke: rgba(124, 124, 124, 0.909);
}

.hover_box .content_box:hover span.svg {
  animation: Svg_move 2s linear 0s infinite alternate-reverse;
}
@keyframes Svg_move {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
.box_blockchain_pos1,
.box_blockchain_pos2,
.box_blockchain_pos3,
.box_blockchain_pos4 {
  background: rgba(252, 252, 252, 0.12);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  border-radius: 16px;
  z-index: 3;
}
.box_blockchain_pos1 {
  animation: BOxPos_Block1 6s linear 0s infinite alternate;
  max-width: 282px;
}
.box_blockchain_pos2 {
  left: 0;
  bottom: 10%;
  animation: BOxPos_Block2 6.3s linear 0s infinite alternate-reverse;
  max-width: 282px;
}
.box_blockchain_pos3 {
  right: -1%;
  top: 30%;
  animation: BOxPos_Block3 6s linear 0s infinite alternate-reverse;
  max-width: 314px;
}
.box_blockchain_pos4 {
  right: -1%;
  bottom: 0;
  animation: BOxPos_Block4 6s linear 0s infinite alternate-reverse;
  max-width: 314px;
}
.ImgEarth,
.Flower__Image {
  width: 100%;
}

.Flower__Image {
  animation: ImgEarh 15s linear 0s infinite reverse;
  position: relative;
  z-index: 0;
}
.BlockChainBox:hover .ImgEarth {
  animation: ImgEarh 15s linear 0s infinite reverse;
  position: relative;
  z-index: 0;
}
@keyframes ImgEarh {
  0% {
    transform: rotate(0%);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */
.box_custom_GetStartd:hover .bg__get_blur {
  background-color: #0084ff37;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(10px);
}
.box_custom_GetStartd {
  min-height: 567px;
  background-image: url(./assets//img/webp/Get-Started--bg.webp);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  @keyframes BOxPos_Block1 {
    0% {
      top: 2%;
      left: -5%;
    }
    50% {
      top: 25%;
    }
    100% {
      top: 2%;
      left: -5%;
    }
  }
  @keyframes BOxPos_Block2 {
    0% {
      bottom: 10%;
      left: -5%;
    }
    50% {
      bottom: 25%;
    }
    100% {
      bottom: 10%;
      left: -5%;
    }
  }
  @keyframes BOxPos_Block3 {
    0% {
      top: 25%;
      right: -4%;
    }
    50% {
      top: 0%;
    }
    100% {
      top: 25%;
      right: -4%;
    }
  }
  @keyframes BOxPos_Block4 {
    0% {
      bottom: 25%;
      right: -7%;
    }
    50% {
      bottom: 10%;
    }
    100% {
      bottom: 25%;
      right: -7%;
    }
  }
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-2x4l: 18px;
    --fs-2x8l: 28px;
    --fs-4xl: 40px;
    --fs-4x4l: 44px;
    --fs-5x2l: 52px;
  }
  .box_blockchain_pos1 {
    max-width: 250px;
  }
  .box_blockchain_pos2 {
    left: 0;
    max-width: 250px;
  }
  .box_blockchain_pos3 {
    right: 0;
    max-width: 280px;
  }
  .box_blockchain_pos4 {
    right: 0;
    max-width: 280px;
  }
}
@media (min-width: 768px) {
  .ImgEarth,
  .Flower__Image {
    width: 512px;
  }
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-2x8l: 28px;
    --fs-4xl: 40px;
    --fs-4x4l: 44px;
    --fs-5x2l: 52px;
  }
  .box_blockchain_pos1 {
    max-width: 282px;
  }
  .box_blockchain_pos2 {
    max-width: 282px;
  }
  .box_blockchain_pos3 {
    max-width: 314px;
  }
  .box_blockchain_pos4 {
    max-width: 314px;
  }
}
@media (min-width: 992px) {
  .box_custom_GetStartd {
    min-height: 767px;
    background-image: url(./assets//img/webp/Get-Started--bg.webp);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }

  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-2x8l: 28px;
    --fs-4xl: 40px;
    --fs-4x4l: 44px;
    --fs-5x2l: 52px;
  }
  @keyframes BOxPos_Block1 {
    0% {
      top: 2%;
      left: 0;
    }
    50% {
      top: 25%;
    }
    100% {
      top: 2%;
      left: 0;
    }
  }
  @keyframes BOxPos_Block2 {
    0% {
      bottom: 10%;
      left: 0;
    }
    50% {
      bottom: 25%;
    }
    100% {
      bottom: 10%;
      left: 0;
    }
  }
  @keyframes BOxPos_Block3 {
    0% {
      top: 25%;
      right: -1%;
    }
    50% {
      top: 0%;
    }
    100% {
      top: 25%;
      right: -1%;
    }
  }
  @keyframes BOxPos_Block4 {
    0% {
      bottom: 25%;
      right: -1%;
    }
    50% {
      bottom: 10%;
    }
    100% {
      bottom: 25%;
      right: -1%;
    }
  }
}
@media (min-width: 1200px) {
  .box_custom_GetStartd:hover .bg__get_blur {
    background-color: transparent;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}
@media (min-width: 1440px) {
  :root {
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-xl: 20px;
    --fs-2x4l: 24px;
    --fs-2x8l: 28px;
    --fs-4xl: 40px;
    --fs-4x4l: 44px;
    --fs-5x2l: 52px;
  }
  .container {
    max-width: 1140px !important;
  }
}
#Accordian .Accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-color: var(--clr-dark-black) !important;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 0rem !important;
  --bs-accordion-btn-color: var(--clr-bg-black) !important;
  --bs-accordion-btn-bg: transparent !important;
  --bs-accordion-btn-active-icon: url(./assets/img/svg/Active_arrow.svg) !important;
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(0deg) !important;
  --bs-accordion-btn-icon-transition: all 0.4s ease-in-out !important;
  --bs-accordion-btn-icon: url(./assets/img/svg/closwd_arrow.svg) !important;
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-body-padding-x: 0rem;
  --bs-accordion-body-padding-y: 0rem !important;
  --bs-accordion-active-color: var(--clr-dark-blue);
  --bs-accordion-active-bg: none !important;
}
.accordion-flush .accordion-item {
  border-bottom: 0.8px solid #05050552 !important;
}
#Accordian .accordion_Header {
  color: black !important;
}
#Accordian .accordion-button {
  padding: 0px !important;
}
#Accordian .accordion-button::after {
  flex-shrink: 0;
  width: 45px !important;
  height: 22px !important;
  margin-left: auto;
  position: absolute;
  right: -25px;
}
